/* Footer section */
.footer-container {
    height: 64px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161619;
}

.social-icons {
    height: 25px;
    width: 25px;
    padding: 10px;
    color: #918E9B;
}