body {
    margin: 0 auto;
    width: 317px;
    font-family: Inter;
    color: #FFFFFF;
}

.background-class {
    background-color: #1A1B21;
}

/* Info section */
.info-container {
    display: flex;
    flex-direction: column;
}

.info-container > img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-text {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 25px;
}

.role-text {
    margin-top: 5px;
    color: #F3BF99;
    font-weight: 400;
    font-size: 12.8px;
}

.website-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 10.24px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.info-button {
    width: 115px;
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.linkedin-button {
    background-color: #5093E2;
    color: white;
}

/* About and Interests section */
.about-interests {
    padding: 20px;
}

.about-interests > h1 {
    font-weight: 700;
    font-size: 16px;
}

.about-interests > p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15.36px;
}

/* About section */
.about-container {
    padding-bottom: 1px;
}

/* Interests section */
.interests-container {
    padding-top: 1px;
    padding-bottom: 30px;
}